<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.imis.wx.repository.user.UserInfoExtRepository" >
    <resultMap id="BaseResultMap" type="site.imis.wx.model.user.UserInfoExt" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="birth_type" property="birthType" jdbcType="CHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <!--<result column="constellation" property="lastModifiedDate" jdbcType="DATE" />-->
    </resultMap>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="String">
        select id,user_id,birthday,birth_type,address
        from user_info_ext
        where user_id=#{userId}
    </select>
</mapper>